<mat-progress-spinner
  *ngIf="(loading | async) else itemsArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #itemsArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex="100%"
      *ngFor="let item of items | async"
    >
      <mat-card *ngIf="itemId === item.id">
        <mat-card-title>{{ item.title }}</mat-card-title>
        <img
          [src]="item.image | image"
          [alt]="'Photo of ' + item.title"
          mat-card-image
        />
        <mat-card-content>
          <p>Price: <strong>{{ item.price }} $</strong></p>
          <p>Description: {{ item.description }}</p>
          <div *ngFor="let category of categories | async">
            <p *ngIf="category.id === item.category">Category: {{ category.title }}</p>
          </div>
        </mat-card-content>
        <mat-divider></mat-divider>
      </mat-card>
    </div>
  </div>
</ng-template>
